  @import url(//fonts.googleapis.com/css?family=Manrope);

body{
  font-family: 'Manrope', sans-serif;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  margin: 0;
}

.titulo{
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  background-color: rgb(195, 253, 36);
  font-family: 'Manrope', sans-serif;
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
}

.titulo p{
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 20px;
  font-size: 30px;
}

.descripcion{
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 2px;
  padding-bottom: 4px;
  background-color: rgb(228, 255, 152);
  position: relative;
}

.descripcion p{
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 20px;
  font-size: 15px;
}


.contenedor-poemas{
  outline-style: solid;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 80%;
  margin-top: 20px;
  margin-left: 10%;
  margin-right: 10%;
}

.caja-poema{
 position: relative;
 outline-style: solid;
}

.caja-poema img{
 position: relative;
 width: 100%;
 height: 100%;
 object-fit: cover;
}

.nombre{
 position: absolute;
 top: 0px;
 left: 0px;
 background-color: rgb(255, 255, 255);
 
}

.nombre p{
  margin: 0px 10px 0px 10px;
}

/*

.nombre{
  position: absolute;
  background-color: rgb(255, 255, 255);
  bottom: 0;
  padding-left: 10px;
  padding-right: 10px;
 
}

.nombre p{
  font-size: 25px;
}




*/